.button {
    height: 6.8rem;
    width: 6.8rem;
    background-color: #2f4553;
    border-radius: 8px;
    margin: 3px 4px;
    border: none;
    border-bottom: 5px inset #223643;
}

.button:not(.clicked) {
    position: relative;
    top: 0;
    transition: top ease 0.2s
}

.button:not(.clicked):hover {
    background-color: #566f86;
    cursor: pointer;
    top: -2px;
}

.clicked {
    border-bottom: 5px inset transparent;
}

.gem {
    background: url('/src/assets/gem.svg') center no-repeat;
    background-size: 4.5rem;
    background-color: #071824;
}

.bomb {
    background: url('/src/assets/bomb.svg') center no-repeat;
    background-size: 4.5rem;
    background-color: #071824;
}

.gem:not(.gem-revealed):active, .bomb:not(.bomb-revealed):active {
    background-size: 4.3rem;
}

.gem-revealed {
    background: url('/src/assets/gem-revealed.svg') center no-repeat;
    background-size: 3rem;
    background-color: #071824;
}

.bomb-revealed {
    background: url('/src/assets/bomb-revealed.svg') center no-repeat;
    background-size: 3rem;
    background-color: #071824;
}
